button,
div,
form,
input {
  margin: 10px;
}

nav{
  /* background-image: url('http://media-s3-us-east-1.ceros.com/anders-newman/images/2017/04/10/9ce0697328ae9bbf2da936d12a60a61f/e34e57d2c9765f4493fd5d15fca0417c.png'); */
}

.container {
  align-content: center;
  /* border: 1px solid red; */
}

.buttons{
  /* background-color: aqua; */
  text-align: center;
}

.gifName{
  /* background: linear-gradient(to right, rgb(49, 212, 199), rgb(250, 27, 27)); */
}

h1{
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  font-size: 75px;
  color: rgb(64, 212, 44);

}

p {
  color: white;
  text-align: center;
}

section, button {
  display: flex;
  justify-content: flex-end;
}

#searchTerm {
  width: 175px;
}

#searchBtnn {
  margin-left: 40px;
}


body {
  background: linear-gradient(to right, rgb(36, 107, 212), rgb(101, 206, 59));
}

.images {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

}

hr{ 
  height: 1px;
  background-color: black;
  border: none;
  box-shadow: 3px 3px 4px black;
}

.gifImage {
  /* border: 3px solid black; */
  
  margin: 10px;
  box-shadow: 4px 4px 5px black;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}